@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
body{
 background-color: #3C3E40
}
h1 {
text-transform: Uppercase;
margin-bottom: .5em;
font-family: 'Rubik', sans-serif;
font-size: 6rem;
color: black; }
h1:hover {
text-transform: Uppercase;
margin-bottom: .5em;
font-family: 'Rubik', sans-serif;
font-size: 6rem;
color: #E4E5E6; }
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #E4E5E6}

.button:active {
  background-color: #E4E5E6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
p,h2{
	text-transform: Uppercase;
margin-bottom: .5em;
font-family: 'Rubik', sans-serif;
color: black;
}
p:hover,h2:hover{
  text-transform: Uppercase;
margin-bottom: .5em;
font-family: 'Rubik', sans-serif;
color: #E4E5E6;
}
input,textarea {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 90%;
  background: #e6e6e6;
  height: 55px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
